/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f9f9f9; 
    width: 100%;
    top: 0;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffda0a;
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ffda0a;
}

header .phone {
    font-size: 18px;
    color: #000;
}

/* Секция оформления */
.abonement-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    margin-top: 65px;
    margin-bottom: 100px;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

/* Детали абонемента */
.abonement-details {
    flex: 1 1 400px;
    max-width: 600px;
}

.abonement-details h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

.abonement-details h1 span {
    color: #f1c40f;
}

.abonement-details p {
    font-size: 18px;
    margin-bottom: 30px;
}

.abonement-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #666;
}

.abonement-details ul li {
    margin-bottom: 10px;
}

/* Форма */
.abonement-form {
    flex: 1 1 300px;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.abonement-form h2 {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.abonement-form input {
    width: 100%;
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.abonement-form button {
    width: 100%;
    padding: 12px;
    margin-top: 40px;
    background-color: #f1c40f;
    color: #000;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.abonement-form button:hover {
    background-color: #d4a900;
}

.footer {
    background-color: #f7f7f7;
    color: rgb(45, 45, 45); 
    padding: 7rem 1rem;
    font-size: 1rem;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__about,
.footer__links,
.footer__contacts {
    flex: 1 1 30%; 
    min-width: 250px;
}

footer .logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-bottom: 1rem;
}



.footer__description {
    font-size: 0.9rem;
    line-height: 1.5;
}

.footer__heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(45, 45, 45); 
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__link {
    color: rgb(45, 45, 45);
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.5rem;
}

.footer__link:hover {
    color: #ffda0a; 
}

.footer__contacts p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.footer__social img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.footer__social:hover img {
    transform: scale(1.1);
}

.footer__bottom {
    margin-top: 6rem;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #555; 
    padding-top: 1rem;
}


